---
layout: page
title: Archive
---

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
	<tbody>
	{% for post in site.posts %}
		<a href="{{site.baseurl}}{{ post.url }}">
			<tr>
				<td class="mdl-data-table__cell--non-numeric">{{ post.title }}</td>
				<td class="mdl-data-table__cell--non-numeric"><time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></td>
				<td class="mdl-data-table__cell--non-numeric">
				{% unless post.categories == empty %}
					{% for categories in post.categories %}
					<a href="{{site.baseurl}}/category.html#{{categories}}" class="mdl-chip mdl-js-ripple-effect">
						<span class="mdl-chip__text">{{ categories }}</span>
					</a>
					{% endfor %}
				{% endunless %}
				</td>
			</tr>
		</a>
	{% endfor %}
	</tbody>
</table>

<section>
        <table>
            {% for post in site.posts %}
            <tr>
                <td><i class="icon-clock"></i> <time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></td>  
                <td><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></td>
                <td><span class="category"><i class="icon-tag"></i> {{post.categories | category_links}}</span></td>
            </tr>
    	{% endfor %}
        </table>
    </section>
