---
layout: page
title: Archive
---

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
	<tbody>
	{% for post in site.posts %}
		<tr>
			<a href="{{site.baseurl}}{{ post.url }}">
				<td class="mdl-data-table__cell--non-numeric">{{ post.title }}</td>
				<td class="mdl-data-table__cell--non-numeric"><time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></td>
				<td class="mdl-data-table__cell--non-numeric">
				{% unless post.categories == empty %}
					{% for categories in post.categories %}
					<a href="{{site.baseurl}}/category.html#{{categories}}" class="mdl-chip mdl-js-ripple-effect">
						<span class="mdl-chip__text">{{ categories }}</span>
					</a>
					{% endfor %}
				{% endunless %}
				</td>
			</a>
		</tr>
	{% endfor %}
	</tbody>
</table>
