---
layout: page
title: Archive
---
<ul class="demo-list-three mdl-list">
	{% for post in site.posts %}
	<li class="mdl-list__item mdl-list__item--three-line">
		<a href="{{site.baseurl}}{{ post.url }}">
			<span class="mdl-list__item-primary-content">
				<span>{{ post.title }}</span>
				<span class="mdl-list__item-text-body">
					<time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time>
					{% unless post.categories == empty %}
					<div class="cats">
						{% for categories in post.categories %}
						<a href="{{site.baseurl}}/category.html#{{categories}}" class="mdl-chip mdl-js-ripple-effect">
							<span class="mdl-chip__text">{{ categories }}</span>
						</a>
						{% endfor %}
					</div>
					{% endunless %}
				</span>
			</span>
		</a>
	</li>
	{% endfor %}
</ul>
    <section>
        <table>
            {% for post in site.posts %}
            <tr>
                <td><i class="icon-clock"></i> <time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></td>  
                <td><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></td>
                <td><span class="category"><i class="icon-tag"></i> {{post.categories | category_links}}</span></td>
            </tr>
    	{% endfor %}
        </table>
    </section>
