---
layout: default
---

{% for post in paginator.posts %}
	<article class="mdl-card mdl-shadow--2dp">
		<header class="mdl-card__title">
			<h2 class="mdl-card__title-text">{{ post.title }}</h2>
		</header>
		<div class="mdl-card__supporting-text">
			{{ post.excerpt }}
			<div>
				<time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time>
			</div>
			{% unless post.categories == empty %}
			<div>
				{% for categories in post.categories %}
				<a href="{{site.baseurl}}/category.html#{{categories}}" class="mdl-chip mdl-js-ripple-effect">
				    <span class="mdl-chip__text">{{ categories }}</span>
				</a>
				{% endfor %}
			</div>
			{% endunless %}
		</div>
		<div class="mdl-card__actions mdl-card--border">
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ post.url }}">Read More</a>
		</div>
	</article>
{% endfor %}


<div id="paginator">
	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
			<a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="{{site.baseurl}}/"><i class="material-icons">&#xE5C4;</i> Newer Posts</a>
		{% else %}
			<a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="{{site.baseurl}}/page{{paginator.previous_page}}"><i class="material-icons">&#xE5C4;</i> Newer Posts</a>
		{% endif %}
	{% endif %}
	{% if paginator.next_page %}
		<a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="{{site.baseurl}}/page{{paginator.next_page}}">Older Posts <i class="material-icons">&#xE5C8;</i></a>
	{% endif %}
</div>
