---
layout: default
---

{% if paginator.previous_page %}{% else %}
	<article class="mdl-card mdl-shadow--2dp">
		<div class="mdl-card__supporting-text">
			<div class="progresswrap">
				<div>
					<div class="progress">
						<div id="day" class="spindown">
							<svg width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
								<circle r="95" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
								<circle class="bar" r="95" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
							</svg>
						</div>
						<div id="hours" class="spindown">
							<svg width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
								<circle r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
								<circle class="bar" r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
							</svg>
						</div>
						<div id="mins" class="spindown">
							<svg width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
								<circle r="85" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
								<circle class="bar" r="85" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
							</svg>
						</div>
						<div id="secs" class="spindown">
							<svg width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
								<circle r="80" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
								<circle class="bar" r="80" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
							</svg>
						</div>
					</div>
				</div>
				<div id="trumpdown"></div>
			</div>
		</div>
	</article>
{% endif %}

{% for post in paginator.posts %}
	<article class="mdl-card mdl-shadow--2dp">
		<header class="mdl-card__title">
			<h2 class="mdl-card__title-text">{{ post.title }}</h2>
		</header>
		<div class="mdl-card__supporting-text">
			{{ post.excerpt }}
			{% unless post.categories == empty %}
			<div class="cats">
				{% for categories in post.categories %}
				<a href="{{site.baseurl}}/category.html#{{categories}}" class="mdl-chip mdl-js-ripple-effect">
				    <span class="mdl-chip__text">{{ categories }}</span>
				</a>
				{% endfor %}
			</div>
			{% endunless %}
			<div>
				<time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time>
			</div>
		</div>
		<div class="mdl-card__actions mdl-card--border">
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ post.url }}">Read More</a>
		</div>
	</article>
{% endfor %}


<div id="paginator">
	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
			<a class="mdl-button mdl-js-button mdl-js-ripple-effect last-page" href="{{site.baseurl}}/"><i class="material-icons">&#xE5C4;</i> Newer Posts</a>
		{% else %}
			<a class="mdl-button mdl-js-button mdl-js-ripple-effect last-page" href="{{site.baseurl}}/page{{paginator.previous_page}}"><i class="material-icons">&#xE5C4;</i> Newer Posts</a>
		{% endif %}
	{% endif %}
	{% if paginator.next_page %}
		<a class="mdl-button mdl-js-button mdl-js-ripple-effect next-page" href="{{site.baseurl}}/page{{paginator.next_page}}">Older Posts <i class="material-icons">&#xE5C8;</i></a>
	{% endif %}
</div>
