pre {
    background-color: #E8E8E8;
    margin-left: 30px;
    padding: 5px;
    width: 80%;
}

code {
    background-color: #E8E8E8;
    padding-left: 3px;
    padding-right: 3px;
}

pre {
    background-color: #E8E8E8;
    margin-left: 30px;
    padding: 5px;
    width: 80%;
}

.next-page {
	float: right;
}

.last-page {
	float: left;
}

.next-page, .last-page {
	margin: 5px;
}

.mdl-mini-footer {
	clear: both;
	margin-top: 30px;
}

.mdl-layout__content {
	background-color: #E3E3E3;
}

.page-content {
	margin: 20px auto;
	max-width: 700px;
	width: 100%;
}

.mdl-card {
	width: 98%;
	margin: 6px;
}

.cats {
	margin: 5px;
}

.progresswrap {
	text-align: center;
}

.progress {
	position: relative;
	width: 200px;
	height: 200px;
	display: inline-block;
}

.spindown svg circle {
	stroke-dashoffset: 0;
	transition: stroke-dashoffset .9s cubic-bezier(0.2, 0.93, 1, 1);
	stroke: #E3E3E3;
	stroke-width: 2px;
}

.spindown svg .bar {
	stroke: #666666;
}

.spindown {
	height: 200px;
	width: 200px;
	border-radius: 100%;
	position: absolute;
}

.author-box {
	margin: 0px;
	padding: 0px;
}
