pre {
    background-color: #E8E8E8;
    margin-left: 30px;
    padding: 5px;
    width: 80%;
}

code {
    background-color: #E8E8E8;
    padding-left: 3px;
    padding-right: 3px;
}

pre {
    background-color: #E8E8E8;
    margin-left: 30px;
    padding: 5px;
    width: 80%;
}

section address {
    margin-left: 15px;
}

#paginator {
	padding: 10px;
	text-align: center;
	width: 100%;
}

.mdl-layout__content {
	background-color: #E3E3E3;
}

.page-content {
	margin: 20px auto;
	max-width: 800px;
	width: 100%;
}

.mdl-card {
	width: 100%;
	margin: 6px;
}
