pre {
    background-color: #E8E8E8;
    margin-left: 30px;
    padding: 5px;
    width: 80%;
}

code {
    background-color: #E8E8E8;
    padding-left: 3px;
    padding-right: 3px;
}

pre {
    background-color: #E8E8E8;
    margin-left: 30px;
    padding: 5px;
    width: 80%;
}

#paginator {
	padding: 10px;
	width: 98%;
}

.next-page {
	float: right;
}

.last-page {
	float: left;
}

.next-page, .last-page {
	margin: 5px;
}

.mdl-mini-footer {
	clear: both;
	margin-top: 20px;
}

.mdl-layout__content {
	background-color: #E3E3E3;
}

.page-content {
	margin: 20px auto;
	max-width: 700px;
	width: 100%;
}

.mdl-card {
	width: 98%;
	margin: 6px;
}
