---
layout: default
---

<article class="mdl-card mdl-shadow--2dp">
	<div class="mdl-card__supporting-text">
		<span><i class="material-icons">&#xE192;</i><time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time></span><br/>
		<span class="category"><i class="material-icons">&#xE893;</i> {{ page.categories | category_links }}</span><br/>
		<span class="author"><i class="material-icons">&#xE853;</i> {% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif%}</span>
		{{ content }}
	</div>
</article>
